@font-face {
    font-family: 'Johnston';
    src: url('/ttf/johnston.ttf') format('truetype');
}

nav {
    font-family: 'Johnston';
}

main.departure-board-content {
    margin-top: 4em;
}

button.btn-line {
    margin: 1em 0em 1em 1em;
}

.header-roundel {
    height: 1.5em;
}

.badge-tts {
    width: 5em;
}